*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first_img{
    background-image: url(/img/Rectangle\ 2.png);
    min-height: 700px;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}
.header{
    background-color: rgba(0, 91, 193, 0.6);
    min-height: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr  2fr 1fr;
    align-items: center;
    width: 100%;
   font-size: 25px;
}
.counter{
    margin:  auto;
    width: 100%;
}
.logo{
    
   margin-top: 10px;
   margin-left: 50px;
   
   
}
.text_header{
    
    text-align: center;
height: 30px;

display: flex;

}
.text_header_p{
padding-left: 30px;
}
.header_down{
    width: 50%;
    margin-left: 20%;
    display: flex;
    color: white;
}
.header_down_column{
    display: grid;
    position: relative;
    align-items: center;
    height: auto;
    width: 50%;
    background-color:rgba(0, 91, 193, 0.6); 
    height: 600px;
}
.Piter{
    font-size: 40px;
}
.header_down_text{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50%;
    width: 500px;
}
.btn{
    margin-top: 10%;;
    border: 2px white solid;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}
.Arenda{
    margin-top: 10%;
}
.main{
    max-width: 60%;
    margin: auto;
}



.main_light{
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}

   
  .short_line{
      margin-left: 50%;
  }
  .lines_text{
      font-size: 30px;
      margin-left: 30%;
      min-width: 300px;
    
    }
  .slider{
      display: flex;
  }
  .left_slider,.right_slider{
      min-width: 50px;
      min-height: 50px;
      text-align: center;
      color: mediumblue;
      border: 2px mediumblue solid;
  }
  .slider_text{
      font-size: 40px;
      
  }
  .text_and_lines{
      display: flex;
      width: auto;
  }
  .projects{
      display: flex;
      margin-top: 5%;
      justify-content: space-between;
      width: 100%;
      
      position: relative;
  }
  .left_project{
      background-image: url(../img/Rectangle\ 4.png);
      width: 540px;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 400px;
     
  }
   .right_project{
    background-image: url(../img/Rectangle\ 4\ \(1\).png);
    width: 540px;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    
}

.project_text{
    
    display: grid;
    background-color: white;
    
    max-width: 40%;
    height: 30%;
    margin-top: 40%;
    margin-left: 50%;
    padding: 10px;
}

.project_text_with{
    
   padding-left: 100px;
}
.robe_complite{
    width: 300px;
    justify-content: space-between;
    margin: auto;
    display: flex;
    margin-top: 5%;
    font-size: 30px;
}
.robe:hover{
    color: mediumblue;
    text-decoration: underline ;
transition: 0.3s;
}
.complite:hover{
    color: mediumblue;
    text-decoration: underline ;
transition: 0.3s;
}
.goods{
    display: flex;
      margin-top: 5%;
      justify-content: space-between;
      width: 100%;
}
.statit{
    background-image: url(../img/Rectangle\ 4\ \(2\).png);
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
   
}